html, body {
  height: 100%; margin: 0; padding: 0;
}
#map {
  bottom:0px;
  height: 100%;
  left: 25%;
  position: absolute;
  right: 0px;
}
.container-fluid{
  height: 100%;
}
.row{
  height:100%;
}
.options-box {
  background: #16161d;
  height: 100%;
  line-height: 35px;
  text-align: left;
  color: grey;
}
